<!DOCTYPE html>
<html>
<head>
	<title>my blog</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>Deeksha's Blog</h1>
		<hr>
		{% for post in posts %}
			<div class="card" style="width: 18rem; display: inline-block;">
  				<div class="card-body">
    				<h3 class="card-title">{{post.title}}</h3>
    				<p class="card-text">{{post.body|truncatechars:70}}</p>
    				<a href="/post/{{post.id}}" class="btn btn-primary">read more</a> 
 				</div>
			</div>
		{% endfor %}
	</div>
</body>
</html>